:host {
  width: 100%;
  display: block;
  padding: 0 var(--layout-padding);

  .container {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    max-width: var(--layout-inner-max-width);
  }

  &[max-width=outer] .container {
    max-width: var(--layout-outer-max-width);
  }

  &[max-width=full] .container {
    max-width: 100%;
  }
}
