:host {
    --section-gap-height: var(--default-layout-padding);
    --font-family: var(--default-text-font-family);
    --base-font-family: 16px;

    display: flex;
    flex-direction: column;
    gap: var(--section-gap-height);
    overflow: auto;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--base-font-family);
}