@use '~simplelightbox/src/simple-lightbox.scss';

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    border: 0;
    padding: 0;

    &html {
        overflow: auto;
    }
}

/* Simple Lightbox */
$sl-font-family: 'Jost', serif;
$sl-overlay-background: #000;
$sl-navigation-color: #fff;
$sl-caption-color: #fff;
$sl-caption-background: transparent;

.sl-image img {
    border-radius: var(--default-radius);
}

.sl-counter,
.sl-caption {
    font-family: var(--default-text-font-family);
}

.sl-close,
.sl-prev,
.sl-next {
    &:hover {
        background-color: transparent !important;
    }
}

/* Global Text Styles */
@include global-text;
@include global-buttons;
@include global-table;

@media screen and (max-width: $phoneBreakpoint) {
    :root {
        --default-layout-padding: 1.5em;
    }
}
