@mixin global-text {
    p {
        display: inline-block;
        line-height: var(--default-text-line-height);
        text-align: var(--default-text-align);
        font-size: var(--default-text-size);
        padding: 0;
        margin: 0.2em 0;

        strong {
            font-weight: 600;
        }
    }

    a {
        --bg: rgba(255, 255, 255, 0.7);
        --underline-width: 2px;
        --underline-block-width: 100px;
        --underline-color: rgba(18, 0, 145, 0.3);
        --underline-color-hover: rgb(18, 0, 145);
        --underline-transition: 300ms;

        font-weight: 500;
        color: inherit;
        text-decoration: none;
        background-image: linear-gradient(90deg, var(--bg), var(--bg)), linear-gradient(90deg, var(--underline-color), var(--underline-color));
        background-size: var(--underline-block-width) var(--underline-width), 100% var(--underline-width);
        background-repeat: no-repeat;
        background-position-x: calc(var(--underline-block-width) * -1), 0;
        background-position-y: 100%;
        transition: background-position-x var(--underline-transition);

        &:hover {
            background-image: linear-gradient(90deg, var(--bg), var(--bg)), linear-gradient(90deg, var(--underline-color-hover), var(--underline-color-hover));
            background-position-x: calc(100% + var(--underline-block-width)), 0;
        }
    }

    q {
        quotes: '»' '«';
    }

    ul {
        font-weight: normal;
        padding-inline-start: 30px;

        li {
            text-align: left;
            padding-left: 10px;

            &::marker {
                content: '–';
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.35;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.4em;
        margin-bottom: 0.2em;
        font-weight: 600;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.35em;
    }

    h5 {
        font-size: 1.15em;
    }

    h6 {
        font-size: 1em;
    }
}

@mixin global-buttons {
    button,
    .button {
        --button-size: 1em;
        --button-padding: 0.9em 1.6em;
        --button-radius: var(--default-radius);
        --button-gap: 0.7em;

        --button-background-color: var(--default-button-background-color);
        --button-background-color-hover: var(--default-button-background-color-hover);
        --button-background-color-active: var(--default-button-background-color-active);
        --button-text-color: var(--default-button-text-color);
        --button-text-color-hover: var(--default-button-text-color-hover);
        --button-text-color-active: var(--default-button-text-color-active);

        display: inline-flex;
        flex-direction: row;
        gap: var(--button-gap);
        padding: var(--button-padding);
        font-size: var(--button-size);
        background-color: var(--button-background-color);
        color: var(--button-text-color);
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 1;
        border-radius: var(--button-radius);
        border: none;
        transition: all ease 300ms;

        svg {
            width: var(--button-size);
            height: var(--button-size);
        }

        span {
            line-height: 1;
        }

        &:hover {
            cursor: pointer;
            background-color: var(--button-background-color-hover);
            color: var(--button-text-color-hover);
        }

        &:active {
            background-color: var(--button-background-color-active);
            color: var(--button-text-color-active);
        }
    }
}

@mixin screen-content-item-base {
    --background-color: #f6f8fa;
    --background-color-hover: #eee;
    --border-color: #f0f0f0;
    --border-color-hover: #d4d4d4;
    --border-radius: var(--default-radius);
    --padding: 0.6em;
    --margin-bottom: 0.8em;
    --text-color: #000;
    --text-color-hover: #000;

    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    gap: 0.5em;
    margin-bottom: var(--margin-bottom);
    color: var(--text-color);
    transition: all ease 300ms;
}

@mixin screen-content-item-hover-base {
    cursor: pointer;
    background-color: var(--background-color-hover);
    border-color: var(--border-color-hover);
    color: var(--text-color-hover);
}

@mixin global-table {
    table {
        box-sizing: border-box;
        line-height: 1;
        width: 100%;
        border: 0;
        border-collapse: collapse;

        th,
        td {
            padding: 1em;
            text-align: left;
        }

        th {
            font-weight: 500;
        }

        thead,
        tfoot {
            tr {
                background-color: #ddd;
                th,
                td {
                    font-weight: 600;
                }
            }
        }

        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: #f8f8f8;
                }

                &:nth-child(even) {
                    background-color: #f4f4f4;
                }
            }
        }
    }
}
