$phoneBreakpoint: 600px;
$tabletBreakpoint: 1024px;

:root {
    --default-layout-inner-max-width: 800px;
    --default-layout-outer-max-width: 1000px;

    --default-layout-padding: 2em;
    --default-component-padding: 1em;

    --default-radius: 0.4em;

    --default-text-font-family: 'Jost', serif;
    --default-text-line-height: 1.5;
    --default-text-align: justify;
    --default-text-size: 1em;

    --phone-breakpoint: $phoneBreakpoint;
    --tablet-breakpoint: $tabletBreakpoint;

    --default-button-background-color: #176B87;
    --default-button-background-color-hover: #192655;
    --default-button-background-color-active: #04364A;
    --default-button-text-color: #fff;
    --default-button-text-color-hover: #fff;
    --default-button-text-color-active: #fff;

    --default-cockpit-item-padding-vertical: 8px;
    --default-cockpit-item-padding-horizontal: 14px;
}