$mobileBreakpoint: 600px;

:root {
    --default-layout-inner-max-width: 800px;
    --default-layout-outer-max-width: 1000px;

    --default-layout-padding: 2em;
    --default-component-padding: 1em;

    --default-radius: 0.4em;

    --default-text-font-family: 'Jost', serif;
    --default-text-line-height: 1.5;
    --default-text-align: justify;
    --default-text-size: 1em;

    --mobile-breakpoint: 600px;
}