:host {
    --layout-padding: var(--default-layout-padding);
    --layout-inner-max-width: var(--default-layout-inner-max-width);
    --layout-outer-max-width: var(--default-layout-outer-max-width);
    --container-radius: var(--default-radius);
    --overlay-padding: calc(1.5 * var(--default-layout-padding));
    --logo-outer-position: calc(1.65 * var(--default-layout-padding));

    display: flex;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #fff;
    box-sizing: border-box;
    padding: var(--layout-padding);

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        flex: 1;
        background-size: cover;
        background-position: center center;
        border-radius: var(--container-radius);
        overflow: hidden;
        box-sizing: border-box;

        .overlay {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: var(--overlay-padding);
            box-sizing: border-box;
            position: relative;

            .logo {
                display: block;
                position: absolute;
                width: 160px;
                left: var(--logo-outer-position);
                bottom: var(--logo-outer-position);
                transition: all ease 300ms;

                &:hover {
                    opacity: 0.65;
                }

                svg {
                    width: 100%;
                    fill: #fff;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: var(--layout-inner-max-width);
                width: 100%;
                color: #fff;
                box-sizing: border-box;

                .headline {
                    font-size: 3em;
                    font-weight: 500;
                    margin: 0px;
                }

                .caption {
                    font-size: 2em;
                    font-weight: 300;
                    margin: 0px;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: $mobileBreakpoint) {

    :host .container .overlay {
        .logo {
            max-width: 130px;
        }

        .content {
            .headline {
                font-size: 2em;
            }

            .caption {
                font-size: 1.35em;
            }
        }
    }
}